.fade-in {
animation: fadeIn 3s;


}

@keyframes fadeIn {

from {
opacity: 0;

}

to {
opacity: 1;

}

}



.background {
position:absolute;
z-index:0;
opacity: 0.25;
filter: alpha(opacity=50);
left: 0px;
top: 0px;
}


@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
#cssmenu {
  width: 100%;
  height: 49px;

	
}




.t1 {
position: absolute;
left: 200px;
top: 300px;

}

.t1Info {
text-align: center;
position: absolute;
background: #C0F3F8;
left: 205px;
top: 160px;
color: #060194;
font-family:"Times New Roman", Times, serif;
border:1px solid #060194;

}





.t2 {
position: absolute;
left: 160px;
top: 500px;

}

.t2Info {
text-align: center;
position: absolute;
background: #C0F3F8;
left: 200px;
top: 610px;
color: #060194;
font-family:"Times New Roman", Times, serif;
border:1px solid #060194;

}



.t3 {
position: absolute;
left: 430px;
top: 200px;

}

.t3Info {
text-align: center;
position: absolute;
background: #C0F3F8;
left: 540px;
top: 270px;
color: #060194;
font-family:"Times New Roman", Times, serif;
border:1px solid #060194;

}




.t4 {
position: absolute;
left: 870px;
top: 620px;


}

.t4Info {
text-align: center;
position: absolute;
background: #C0F3F8;
left: 640px;
top: 610px;
color: #060194;
font-family:"Times New Roman", Times, serif;
border:1px solid #060194;

}





.t5 {
position: absolute;
left: 800px;
top: 450px;
/* Safari */
-webkit-transform: rotate(-10deg);

/* Firefox */
-moz-transform: rotate(-10deg);

/* IE */
-ms-transform: rotate(-10deg);

/* Opera */
-o-transform: rotate(-10deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

.t5Info {
text-align: center;
position: absolute;
background: #C0F3F8;
left: 875px;
top: 330px;
color: #060194;
font-family:"Times New Roman", Times, serif;
border:1px solid #060194;

}












#cssmenu ul {
  /*content: ' ';
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;*/

}
#cssmenu ul li {
  float: right;
  display: block;
  padding: 0;

}
#cssmenu ul li a {
  color: #000;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 14px;
  position: relative;
  border-bottom:10px solid #000 ;
}
.last {
float:right;
padding-left:60px;
font-style:italic;}


#cssmenu ul li a:hover {
  color: #000;
  border-color:#B1CBFF;

}
#cssmenu ul li a:hover:before {
  /*width: 50%;*/
  border-color:#FFF;
}
#cssmenu ul li a:after {
  /*content: '';
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;*/
}
#cssmenu ul li a:before {
 /* content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;*/
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: #333333;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
  }
  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #cssmenu ul li a:after {
    display: none;
  }
  #cssmenu ul li a:before {
    height: 1px;
    background: #ffffff;
    width: 100%;
    opacity: .2;
  }
  #cssmenu ul li.last > a:before,
  #cssmenu ul li:last-child > a:before {
    display: none;
  }
}